.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;

}

.icon {
    width: 100px;
    height: 100px;
}

.message {
    margin-top: 20px;
    text-transform: capitalize;
    color: #627D98;
}
