
.container{
    max-height: 100px;
    position: absolute;
    right: 0;
    bottom: 20px;
}


.credits {
    color: rgba(231, 150, 39, 0.42);
    text-transform: capitalize;
    font-size: 14px;
}

.credits__container {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    white-space: nowrap;
}
.credits__author {
    margin: 10px 0 10px 0;
    font-size: 12px;
    color: rgba(188, 204, 220, 0.59);
}

.credits__link {
    padding: 0 4px;
    color: #0687bf;
}
